/*
=======
Reset CSS
=======
*/


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

/*
===========
Styles view
===========
*/

.app {
  background-color: rgba(79, 116, 222, 0.8);
  min-height: 100vh;
}